/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #d6703f transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #d6703f;
    border-radius: 10px;
    border: 3px solid transparent;
}

#bill_items {
    height: 50vh;
    overflow-y: auto;
    padding-right: 10px;
}

#total_money,
#total_quantity {
    font-weight: bold;
    margin-left: 10px;
    color: #000;
    font-size: 18px;
    margin-bottom: 0;
}

#printContent {
    margin: 0 auto;
    width: 50%;
    background: #fff;
    display: none;
}

#printBill {
    display: none;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    padding-right: 10px;
}

.bill-item {
    border-bottom: 2px solid;
}

.iq-my-cart {
    margin-top: 1.5rem;
}

.category-title {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.category-title::before {
    border-bottom: none !important;
}

.swiper-slide {
    margin-right: 10px !important;
}

.swiper-slide .category-menu .card-body {
    padding: 1rem;
}

.category-image {
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
}

.category-image img {
    width: 100%;
}

.navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.main-noidung {
    padding-top: 70px !important;
}

.profile-img4 .profile-img11 {
    position: absolute;
    transform: none;
    top: 0;
}

.profile-img4 .profile-content {
    margin-left: 90px;
}

.dish-card .menu-image {
    margin-top: 10px;
}

.avatar-100 {
    border: 3px solid #d6703f;
}

#admin {
    min-height: 91.8vh;
}


.have_topping {
    background-color: rgb(103 54 30) !important;
}

.have_topping .text-primary {
    color: #fff !important
}

.have_topping .heading-title {
    color: #fff !important
}

.number_topping {
    position: absolute;
    right: -4px;
    top: 0;
    background: red;
    width: 26px;
    height: 26px;
    text-align: center;
    color: #fff;
    line-height: 26px;
    font-weight: bold;
    border-radius: 50%;
    display: none;
}

.have_topping .number_topping {
    display: block;
}

* {
    user-select: none;
}

#invoice_content {
    padding-bottom: 280px;
}

.TP010 .card {
    background: #527384;

}

.TP010 h6,
.TP010 span {
    color: #fff !important
}

#button-countDown {
    display: none;
}


.hide {
    display: none;
}

.menu_input {
    border-radius: 8px;
    border: 1px solid #dadada
}